<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">

      @if (backButton) {
      <ion-back-button [text]="''" [defaultHref]="backButton" color="dark"></ion-back-button>
      }

      @if (isModal) {
      <ion-button (click)="dismissModal()" color="dark">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      }

      @if (showMenu) {
      <ion-menu-button menu="menu-content"></ion-menu-button>
      }


    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>